h2{
  color: #00704A;
}
.seas_container{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.card{
  /*min-width: 200px;*/
  /*display:flex;*/
  border: 1px solid #00704A;
}

.advisoryBoard {
  /*list-style: none;*/
}
