<app-header [headerLinks]=headerLinks></app-header>
<app-content>
  <h2 style="margin: 1.5rem 0.5rem;">
    EXACT Plan Team
  </h2>
  <app-image-with-text image_path="{{enviorment.apiURL}}/images/teamMembers/KarenLeePerell-Gerson.png"
                       mainText="Dr. Karen Perell-Gerson"
                       extraTitles="EXACT Plan Director"
                       subText="kperellg@ggc.edu">
  </app-image-with-text>

  <app-image-with-text image_path="{{enviorment.apiURL}}/images/img.png"
                       mainText="This team member's name and title"
                       extraTitles="Extra titles"
                       subText="This is description for team member">
  </app-image-with-text>

  <app-image-with-text image_path="{{enviorment.apiURL}}/images/img.png"
                       mainText="Dr. Karen Perell-Gerson"
                       extraTitles="Extra titles"
                       subText="This is description for team member">
  </app-image-with-text>
  <br>
  <h2>Faculty Fellows</h2>
  <div class="card-group seas_container">
    <app-team-card image_path="{{enviorment.apiURL}}/images/teamMembers/RebeccaCooper.png"
                   memberName="Dr. Rebecca Cooper"
                   memberTitle="EXACT Plan ePortfolio Faculty Fellow"
                   facultyPage="https://www.ggc.edu/directory/rebecca-cooper"></app-team-card>
    <app-team-card image_path="{{enviorment.apiURL}}/images/img.png"
                   memberName="Dr. Seas Nolan"
                   memberTitle="Great Guy"
                   facultyPage="https://www.ggc.edu/directory/anca-doloc-mihu"></app-team-card>
    <app-team-card image_path="{{enviorment.apiURL}}/images/img.png"
                   memberName="Dr. Seas Nolan"
                   memberTitle="Great Guy"
                   facultyPage="https://www.ggc.edu/directory/anca-doloc-mihu"></app-team-card>
    <app-team-card image_path="{{enviorment.apiURL}}/images/img.png"
                   memberName="Dr. Seas Nolan"
                   memberTitle="Great Guy"
                   facultyPage="https://www.ggc.edu/directory/anca-doloc-mihu"></app-team-card>
    <app-team-card image_path="{{enviorment.apiURL}}/images/img.png"
                   memberName="Dr. Seas Nolan"
                   memberTitle="Great Guy"
                   facultyPage="https://www.ggc.edu/directory/anca-doloc-mihu"></app-team-card>
    <app-team-card image_path="{{enviorment.apiURL}}/images/img.png"
                   memberName="Dr. Seas Nolan"
                   memberTitle="Great Guy"
                   facultyPage="https://www.ggc.edu/directory/anca-doloc-mihu"></app-team-card>
  </div>
  <br><br>
  <h2>EXACT Plan Assessment Team</h2>
  <ul>
    <li>Jennell Talley</li>
    <li>Sherly Abraham</li>
    <li>Qing Shao</li>
    <li>Benjamin O’Dell</li>
    <li>David Dorrell</li>
    <li>Patrice Morris</li>
  </ul>
  <br>
  <h2>EXACT Plan Advisory Board</h2>
  <div class="row">
    <div class="col-sm-4">
      <ul class="advisoryBoard">
        <li>JP Peters</li>
        <li>LaKeidra Hill</li>
        <li>Ben Culberson</li>
        <li>Jose Martinez</li>
        <li>Kristie Walsdorf</li>
        <li>Kathryn Deeley</li>
        <li>Tracey Schaller</li>
        <li>Loudes Basista</li>
      </ul>
    </div>

    <div class="col-sm-4">
      <ul class="advisoryBoard">
        <li>Kinga Varga-Dobai</li>
        <li>Nina Cleveland</li>
        <li>Tom Lilly</li>
        <li>Helen McDaniel</li>
        <li>Roslyn Brown</li>
        <li>Karen Jackson</li>
        <li>Rebecca Cooper</li>
      </ul>
    </div>

    <div class="col-sm-4">
      <ul class="advisoryBoard">
        <li>Matthew May</li>
        <li>Bianca Singleton</li>
        <li>Richard Campbell</li>
        <li>Tracy Burge</li>
        <li>Jillian Coutler</li>
        <li>Funwi Ayuninjam</li>
        <li>Staci Bisschop</li>
      </ul>
    </div>

  </div>
  <ul>



  </ul>
</app-content>
<app-footer></app-footer>
