<app-header [headerLinks]="headerLinks"></app-header>
<app-content>
  <app-editable-content webpage="experientialLearning" sectionNum="1">
  </app-editable-content>
  <table class="table table-striped">
    <thead class="table-dark">
      <tr>
        <th scope="col"></th>
        <th scope="col">1000 level courses</th>
        <th scope="col">2000 level courses</th>
        <th scope="col">3000 level courses</th>
        <th scope="col">4000 level courses</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">Exemplar experiential learning activities</th>
        <td>
          Laboratory assignments, role playing, field trips, volunteer
          experiences
        </td>
        <td>
          Advanced laboratory assignments, professional shadowing, community
          mentorship, classroom simulations
        </td>
        <td>Field practicums, service learning, peer tutoring</td>
        <td>
          Field practicums, service learning, peer tutoring, peer mentoring,
          independent research, internships
        </td>
      </tr>
      <tr>
        <th scope="row">
          Time associated with experiential learning activities within course
          schedule
        </th>
        <td>1-2 class periods</td>
        <td>2-4 class periods</td>
        <td>6-14 class periods</td>
        <td>14-24 class periods</td>
      </tr>
      <tr>
        <th scope="row">
          Percentage of overall grade for the experiential learning activities
        </th>
        <td>&lt;5%</td>
        <td>5-15%</td>
        <td>15-25%</td>
        <td>25-50%</td>
      </tr>
      <tr>
        <th scope="row">
          Number of Critical Thinking skillsets addressed by experiential
          learning activities
        </th>
        <td>1</td>
        <td>2</td>
        <td>3</td>
        <td>4</td>
      </tr>
      <tr>
        <th scope="row">
          Reflection assignment expectation on 21st Bloom’s Taxonomy (Zapalska
          et al. 2018)
        </th>
        <td>UNDERSTAND</td>
        <td>APPLY</td>
        <td>ANALYZE</td>
        <td>EVALUATE</td>
      </tr>
    </tbody>
  </table>
  <app-editable-content webpage="experientialLearning" sectionNum="2">

  </app-editable-content>

  <table class="table table-striped">
    <thead class="table-dark">
      <tr>
        <th scope="col">Course</th>
        <th scope="col">Experiential Learning Activity</th>
        <th scope="col">Associated Critical Thinking Skillset</th>
        <th scope="col">Course Coordinators</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">ITEC 1101</th>
        <td>EXACT Scholars Portfolio</td>
        <td>Evaluating & Interpreting Information</td>
        <td>
          David Kerven <br />
          Cindy Robertson
        </td>
      </tr>
      <tr>
        <th scope="row">HIST 1112</th>
        <td>Primary Source Activity</td>
        <td>Evaluating & Interpreting Information</td>
        <td>
          Patrick Ludolph <br />
          Ihor Pidhainey
        </td>
      </tr>
      <tr>
        <th scope="row"></th>
        <td>Library Visit Activity</td>
        <td>Evaluating & Interpreting Information</td>
        <td></td>
      </tr>
      <tr>
        <th scope="row"></th>
        <td>Virtual Archive Activity</td>
        <td>Communicating Effectively</td>
        <td></td>
      </tr>
      <tr>
        <th scope="row"></th>
        <td>Museum Visit Activity</td>
        <td>Communicating Effectively</td>
        <td></td>
      </tr>
      <tr>
        <th scope="row"></th>
        <td>Reacting to the Past</td>
        <td>Analyzing Alternative Assumptions</td>
        <td></td>
      </tr>
    </tbody>
  </table>
  <app-editable-content webpage="experientialLearning" sectionNum="3">


  </app-editable-content>
  <div class="text-center">
    <img class="img-fluid" src="{{environment.apiURL}}/images/DEAL.png" alt="DEAL Acronym" />
    <br><br>
    <b>DEAL Method of Reflection (Manokore 2021, adapted from Ash & Clayton, 2004)</b>
  </div>
  <app-editable-content webpage="experientialLearning" sectionNum="4">

  </app-editable-content>
  <br>
  <div class="text-center">
    <p>
      <img class="img-fluid" src="{{environment.apiURL}}/images/AACU-Diagram.png" alt="" />
      <br><br>
      <b
        >Visual representation of AACU “How College Contributes to
        Success: Employer Views on What Matters Most”</b
      >
    </p>
  </div>
  <app-editable-content webpage="experientialLearning" sectionNum="5">


  </app-editable-content>
</app-content>
<app-footer></app-footer>
