<!--app.component.html-->


<app-header [headerLinks]=headerLinks></app-header>
<app-content>
  <app-editable-content webpage="facultyToolbox" sectionNum="1">


  </app-editable-content>
  <div>
    <app-editable-content webpage="facultyToolbox" sectionNum="8">

    </app-editable-content>
    <app-accordion text="Section Faculty">
      <app-editable-content webpage="facultyToolbox" sectionNum="2">

      </app-editable-content>
    </app-accordion>
    <app-accordion text="Course Coordinators">
      <app-editable-content webpage="facultyToolbox" sectionNum="3">

      </app-editable-content>
    </app-accordion>

    <app-accordion text="Faculty Fellows">
      <app-editable-content webpage="facultyToolbox" sectionNum="4">

      </app-editable-content>
    </app-accordion>
    <app-accordion text="Assessment Team">
      <app-editable-content webpage="facultyToolbox" sectionNum="5">
      </app-editable-content>
    </app-accordion>
    <app-accordion text="Everyone">
      <app-editable-content webpage="facultyToolbox" sectionNum="6">
      </app-editable-content>
    </app-accordion>
  </div>
  <app-editable-content webpage="facultyToolbox" sectionNum="7">

  </app-editable-content>
</app-content>
<app-footer></app-footer>
