<div class="row">
  <div class="footer-primary">
    <ul class="footer-link-list">
      <li><a href="https://www.ggc.edu/sitemap">Sitemap</a></li>
      <li><a href="https://www.ggc.edu/about-ggc/contact-us">Contact Us</a></li>
      <li><a href="https://www.ggc.edu/about-ggc/directory">Directory</a></li>
      <li>
        <a
          href="https://www.ggc.edu/admissions/visit-campus/maps-and-directions"
          >Maps</a
        >
      </li>
      <li><a href="https://www.ggc.edu/employment">Employment</a></li>
      <li><a href="https://www.ggc.edu/node/11766">Información</a></li>
    </ul>

    <div class="container media-container">
      <div class="row text-center">
        <div class="col-2 offset-1 green-border" id="green-border-first">
          <a href="https://www.instagram.com/georgiagwinnett">
            <img src="https://www.ggc.edu/themes/custom/ggc_site_studio/images/icons/instagram.svg" class="img-fluid" alt="instagram icon">
          </a>
        </div>
        <div class="col-2 green-border">
          <a href="https://www.youtube.com/user/GeorgiaGwinnett">
            <img src="https://www.ggc.edu/themes/custom/ggc_site_studio/images/icons/youtube.svg" class="img-fluid" alt="youtube icon">
          </a>
        </div>
        <div class="col-2 green-border">
          <a href="https://www.linkedin.com/school/georgiagwinnettcollege/posts/?feedView=all">
            <img src="https://www.ggc.edu/themes/custom/ggc_site_studio/images/icons/linked-in.svg" class="img-fluid" alt="linkedin icon">
          </a>
        </div>
        <div class="col-2 green-border">
          <a href="https://www.facebook.com/georgiagwinnett">
            <img src="https://www.ggc.edu/themes/custom/ggc_site_studio/images/icons/facebook.svg" class="img-fluid" alt="facebook icon">
          </a>
        </div>
        <div class="col-2 green-border" id="green-border-last">
          <a href="https://x.com/GeorgiaGwinnett">
            <img src="https://www.ggc.edu/themes/custom/ggc_site_studio/images/icons/twitter.svg" class="img-fluid" alt="x icon">
          </a>
        </div>
      </div>
    </div>

    <div class="container media-container">
      <div class="text-center text-white">
        © 2024 Existential Crisis
      </div>
    </div>
    
  </div>

  
</div>