.formContainer {
  display: flex;
}

#submitBtn{
  width: 25%;
}

#submitBtnContainer{
  display: flex;
  justify-content: end;
}

#permissionButtons{
  display: flex;
}

.invalid{
  border: 3px solid red;
}
